*/ .wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 175px;
}

.wave .shape-fill {
  fill: var(--light-primary);
}

.dark .wave .shape-fill {
  fill: var(--light-secondary);
}
