.blob {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
}

#blob-motion {
  opacity: 0.5;
  position: absolute;
  margin-top: 200px;
  width: 1500px;
  height: 1500px;
  transform: translateY(-20%);
  fill: var(--light-primary);
}

.dark #blob-motion {
  fill: var(--light-secondary);
}

@media screen and (max-width: 820px) {
  #blob-motion {
    margin-top: 100px;
    width: 800px;
    height: 800px;
  }
}
