#landLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artPhoto {
  width: 500px;
  height: 500px;
  background-image: url("./me6light.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.dark .artPhoto {
  background-image: url("./me6dark.png");
}

.animationParent {
  height: 83px;
  width: 542px;
}

.typing {
  font-size: 55px;
}

@media screen and (max-width: 428px) {
  #landLayout {
    flex-direction: column;
  }

  .animationParent {
    width: 350px;
    height: 53px;
  }

  .artPhoto {
    width: 350px;
    height: 350px;
  }

  .typing {
    font-size: 35px;
    text-align: center;
  }
}
