section.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.hero {
  background: url(https://images.unsplash.com/photo-1669447922465-5bad4d25fcf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
  border: solid 5px var(--dark);
  height: 250px;
}
