#pdfBtn {
  margin: 0px;
}

.dark #pdfBtn {
  border: 2px solid var(--dark-on-surface);
  color: var(--dark-on-surface);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 160px;
}

.front {
  flex-direction: column;
  padding: 20px;
}

.back {
  flex-direction: column;
  padding: 20px;
}

.ico {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  text-align: center;
}

.iconCard {
  border-radius: 0;
}

.cardBg {
  height: 100%;
}

.dark .cardBg {
  height: 100%;
}

.cardBg::after {
  opacity: 0.5;
}

.cardBg:hover {
  background-color: var(--light-extra-light);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.dark .cardBg:hover {
  background-color: var(--dark-secondary-light);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

#resumeDL {
  text-align: center;
}

.front-end-mentor {
  display: flex;
  height: 50px;
  width: auto;
}

.fem {
  margin: -26px 0 0 100px;
  scale: 2;
  height: 25px;
  width: 180px;
  border-radius: 2px;
}

.fem-link {
  margin: -20px;
}

@media screen and (max-width: 1260px) {
  .ico {
    font-size: 16px;
    max-height: 80px;
  }

  .main-container {
    flex-direction: column;
    margin: auto;
  }
}

@media screen and (max-width: 972px) {
  .title {
    border-right: transparent;
    border-bottom: solid var(--darker) 4px;
  }

  #pdfBtn {
    width: 80%;
    font-size: 20px;
  }
}

@media screen and (max-width: 390px) {
  .ico {
    font-size: 12px;
  }

  .cardBg {
    animation: none;
  }

  .front-end-mentor {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .fem {
    margin-left: 88px;
  }
}
