#res-sub {
  padding: 5px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 160px;
}

.front {
  flex-direction: column;
  padding: 20px;
}

.back {
  flex-direction: column;
  padding: 20px;
}

@media screen and (max-width: 972px) {
  .main-container {
    flex-direction: column;
    margin: auto;
  }
  .title {
    border-right: transparent;
    border-bottom: solid var(--darker) 4px;
  }
}

.ico {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  border-radius: 80px;
  text-align: center;
}

.ico:hover {
  background-color: var(--dark);
  color: aliceblue;
  font-weight: 500;
  text-align: center;
}

#resumeDL {
  text-align: center;
}
