#contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-form {
  margin: auto;
  align-content: center;
  width: 75%;
  padding-left: 20px;
  padding-top: 10px;
}

.myEmail {
  margin-bottom: 20px;
}

.mailTo {
  font-size: inherit;
  color: inherit;
}

#nameInput {
  width: 50%;
  border-radius: 0%;
}

#subjectInput {
  width: 50%;
  border-radius: 0%;
}

#emailInput {
  width: 50%;
  border-radius: 0%;
}

#messageArea {
  width: 50%;
  border-radius: 0%;
}

#subBtn {
  margin-left: 0px;
}

#work {
  display: flex;
  justify-content: space-evenly;
}

.form-label {
  color: var(--dark);
}

@media screen and (max-width: 974px) {
  #contact-container {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .title {
    border-right: transparent;
    border-bottom: solid var(--darker) 4px;
  }
  .contact-form {
    width: 80%;
  }
  #nameInput {
    width: 100%;
  }

  #subjectInput {
    width: 100%;
  }

  #emailInput {
    width: 100%;
  }

  #messageArea {
    width: 100%;
  }
}
