<!-- import React, { useRef } from 'react'
import { Parallax, ParallaxLayer, IParallax } from '@react-spring/parallax'
import styles from './styles.module.css'

interface PageProps {
offset: string
gradient: string
onClick: () => void
}

const Page = ({ offset, gradient, onClick }: PageProps) => (
<>
  <ParallaxLayer offset={offset} speed={0.2} onClick={onClick}>
    <div className={styles.slopeBegin} />
  </ParallaxLayer>

  <ParallaxLayer offset={offset} speed={0.6} onClick={onClick}>
    <div className={`${styles.slopeEnd} ${styles[gradient]}`} />
  </ParallaxLayer>

  <ParallaxLayer className={`${styles.text} ${styles.number}`} offset={offset} speed={0.3}>
    <span>0{offset + 1}</span>
  </ParallaxLayer>
</>
)

export default function App() {
const parallax = useRef<IParallax>(null)

  const scroll = (to: number) => {
  if (parallax.current) {
  parallax.current.scrollTo(to)
  }
  }
  return (
  <div style={{ background: '#dfdfdf' }}>
    <Parallax className={styles.container} ref={parallax} pages={5} horizontal>
      <Page offset={0} gradient="pink" onClick={()=> scroll(1)} />
        <Page offset={1} gradient="teal" onClick={()=> scroll(2)} />
          <Page offset={2} gradient="teal" onClick={()=> scroll(3)} />
            <Page offset={3} gradient="tomato" onClick={()=> scroll(4)} />
              <Page offset={4} gradient="tomato" onClick={()=> scroll(0)} />
    </Parallax>
  </div>
  )
  }











  ===================CSS============================
  .container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
  text-transform: uppercase;
  }
  
  .number {
  font-size: 100px;
  color: #545864;
  }
  
  .number span {
  display: inline-block;
  position: relative;
  }
  
  .slopeBegin {
  background-color: #fff;
  clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
  }
  
  .slopeEnd {
  clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
  }
  
  .slopeBegin,
  .slopeEnd {
  position: absolute;
  width: 170%;
  height: 100%;
  cursor: pointer;
  }
  
  .pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
  }
  
  .teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
  }
  
  .tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
  }



 -->