.navBar {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

nav a:hover {
  opacity: 1;
  color: var(--light-primary-variant);
  transition: ease-in-out 0.3s;
}

.dark nav a:hover {
  color: var(--dark-secondary);
}

nav a {
  color: inherit;
  flex-wrap: wrap;
  display: inline-flex;
  text-decoration: none;
}

nav a.active {
  color: var(--light-primary-variant);
  opacity: 1;
}

.dark nav a.active {
  color: var(--light-secondary);
  opacity: 1;
}

a {
  text-decoration: none;
  font-size: 30px;
}

.mode-switch {
  display: flex;
  margin-bottom: 18px;
}

#switch {
  background-color: var(--light-secondary-variant);
}

#switch:checked {
  background-color: var(--light-primary-variant);
}

.sun {
  margin-top: 7px;
  margin-left: 10px;
}

.moon {
  margin-top: 7px;
  margin-right: 10px;
}

.ex {
  stroke: var(--light-primary-variant);
}

.dark .ex {
  stroke: var(--dark-secondary);
}

.hamburger {
  stroke: var(--light-primary-variant);
}

.dark .hamburger {
  stroke: var(--dark-secondary);
}

@media screen and (max-width: 960px) {
  nav h2 {
    font-size: 40px;
  }
  a {
    font-size: 20px;
  }
  .mode-switch {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 428px) {
  .travis {
    padding-top: 24px;
  }
}
