.navBar {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: var(--light-tertiary-variant);
}

.dark .navBar {
  background-color: var(--dark-secondary-variant);
}

nav a:hover {
  opacity: 1;
  transition: ease-in-out 0.7s;
}

nav a {
  color: inherit;
  flex-wrap: wrap;
  display: inline-flex;
  text-decoration: none;
}

nav a.active {
  color: var(--light-primary-variant);
  opacity: 1;
}

.dark nav a.active {
  color: var(--light-secondary);
  opacity: 1;
}

a {
  text-decoration: none;
  font-size: 30px;
}

.travis {
  color: var(--dark);
  text-decoration: none;
}

.travis.active {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  nav h2 {
    font-size: 40px;
  }
  a {
    font-size: 20px;
  }
}
