/* Flexbox for about me paragraph text */
.flexbox-item {
  color: var(--darker);
  margin: 5px;
  font-size: 16px;
}

.photo {
  border: solid 4px var(--extra-light);
  background: url(./images/me.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  font-size: 50px;
  color: var(--darker);
  text-shadow: 1px 1px 1px rgb(22, 22, 22);
  font-family: var(--font-fam-2);
}
