/* Flexbox for about me paragraph text */
.flexbox-item {
  margin: 5px;
  font-size: 16px;
}

.aboutContent {
  display: flex;
}

.photo {
  margin-top: 16px;
  border: solid 2px var(--light-on-background);
  background: url(./images/me.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 400px;
}

p {
  font-size: 30px;
  color: var(light-on-background);
}

.dark > p {
  color: var(dark-on-background);
}

@media screen and (max-width: 972px) {
  .photo {
    width: 200px;
    height: 200px;
  }
  p {
    font-size: 18px;
  }
}
