/* Flexbox for about me paragraph text */
.flexbox-item {
  color: var(--darker);
  margin: 5px;
  font-size: 16px;
}

.aboutContent {
  display: flex;
}

.photo {
  margin-top: 16px;
  border: solid 4px var(--dark);
  background: url(./images/me.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 400px;
}

p {
  color: var(--dark);
  font-size: 30px;
}

@media screen and (max-width: 972px) {
  .photo {
    width: 200px;
    height: 200px;
  }
  p {
    font-size: 18px;
  }
}
