.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 160px;
}

/* Flexbox for about me paragraph text */
.flexbox-item {
  margin: 5px;
  font-size: 16px;
}

/* Flexbox hosting work projects */
.flexbox-item-work {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 5px;
  line-height: 25px;
  font-size: 16px;
}

.title h2 {
  display: flex;
  position: fixed;
  align-items: start;
  justify-content: center;
  padding-right: 5px;
  font-size: 50px;
  color: var(--darker);
  font-family: var(--font-fam-2);
}

/* Work project caption formatting */
h3 {
  font-family: var(--font-fam-2);
  text-align: center;
  outline: 0;
  background-color: transparent;
  border: 2px solid var(--light-on-background);
  width: fit-content;
  color: var(--light-on-background);
  padding: 8px;
  margin: 8px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

h3:after {
  content: "";
  background-color: var(--light-primary-variant);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.dark h3:after {
  background-color: var(--dark-secondary);
}

.projects {
  z-index: 0;
  margin: 25px;
  background-color: var(--light-tertiary-variant);
}

.dark .projects {
  background-color: var(--light-secondary-variant);
}

.projTitle {
  margin-bottom: 10px;
}

.projectTitles {
  height: 100px;
}

#titleLink {
  margin-bottom: 0;
  font-size: 22px;
  font-family: var(--font-fam-2);
}

.live {
  margin: auto;
  margin-top: 0;
}

h6 {
  color: black;
}

.dark h6 {
  color: white;
}

.liveSite {
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 300px;
  margin-bottom: 10%;
}

.techUsed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2px;
  max-width: 450px;
}

ul > li {
  color: var(--light-on-surface);
  list-style: disc;
}

.dark ul > li {
  color: var(--dark-on-surface);
}

/* Main formatting for current work image */
.project-main {
  background: url(./images/CRWN1.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 505px;
  height: 400px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light-on-background);
  padding: 5px;
  margin: 10px 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* Background images for side projects */

#kitchen {
  background: url(./images/kitchen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fluffy {
  background: url(./images/fluffy-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#philanthropic-cocktails {
  background: url(./images/philanthropiccocktails.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#htmlcss {
  background: url(./images/css-cheatsheet.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#svg {
  background: url(./images/svg4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#weather {
  background: url(./images/weather.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wordDay {
  background: url(./images/workDay.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Side bar title formatting */
.title {
  padding-right: 5px;
  flex: 1 1;
  font-size: 66px;
}

#work {
  border-right: solid var(--light-primary) 2px;
}

.dark #work {
  border-right: solid var(--light-secondary) 2px;
}

/* Main content formatting as well as the contact me footer */

.body-content {
  text-align: left;
  padding-left: 5px;
  flex: 4 1;
}

.body-content a {
  color: var(--dark);
  font-family: var(--font-fam-2);
  text-decoration: none;
  font-size: 25px;
  margin: 20px;
}

.container {
  width: 150px;
  height: 150px;
  display: grid;
  overflow: hidden;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
  border-radius: 50px;
}

.mainBtn {
  color: var(--light-on-surface);
  margin-left: 10px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 10px 13px;
  outline: 0;
  border: 2px solid var(--light-on-surface);
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mainBtn:after {
  content: "";
  background-color: var(--light-primary-variant);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.dark .mainBtn:after {
  background-color: var(--dark-secondary);
}

.mainBtn:hover:after {
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 767px) {
  .title {
    flex-direction: column;
  }

  .title h2 {
    position: relative;
  }

  #work {
    border-right: transparent;
    border-bottom: solid var(--light-primary) 2px;
  }

  .dark #work {
    border-right: transparent;
    border-bottom: solid var(--light-secondary) 2px;
  }

  .disc {
    font-size: x-small;
  }
}

@media screen and (max-width: 540px) {
  .main-container {
    align-items: center;
    margin: auto;
  }

  .projTitle {
    font-size: 16px;
  }

  .liveSite {
    width: 165px;
  }

  .projectTitles {
    height: 100px;
  }

  .techUsed {
    margin-right: 5px;
  }

  .live {
    font-size: 15px;
  }

  .mainBtn {
    padding: 10px 10px 10px;
  }

  .mainBtn a {
    font-size: 15px;
  }

  ul > li {
    font-size: 12px;
  }
}

@media screen and (max-width: 428px) {
  .project-main {
    justify-content: center;
    width: 300px;
    height: 300px;
  }

  .main-container {
    align-items: center;
    margin: auto;
  }
}
