:root {
  --dark-color: #000000;
  --light-color: #ffffff;
}

#light > #lightEllipse {
  fill: var(--light-color);
}

#dark > #darkEllipse {
  fill: var(--dark-color);
}
#vectorTwo {
  fill: var(--light-primary);
}

#light > #lightEllipse,
#vectorOne,
#dark > #darkEllipse,
#vectorTwo {
  transition: all 0.4s ease;
}

#light > #lightEllipse,
#vectorOne {
  transform: translateX(-100%);
}

svg:hover #light > #lightEllipse,
#light > #lightEllipse > #vectorOne {
  transform: translateX(0%);
  opacity: 1;
}
svg:hover #dark > #darkEllipse,
#dark > #darkEllipse > #vectorTwo {
  transform: translateX(100%);
  opacity: 0;
}

#repo {
  width: 140px;
}

#repoTitle {
  margin: -10px;
  background-color: #4484ce;
  border-radius: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 165px;
  width: 150px;
  border-radius: 5px;
}

.new {
  display: flex;
  justify-content: center;
  margin-left: 55px;
  margin-top: 10px;
}

.myLogo {
  width: 100px;
}

@media screen and (max-width: 820px) {
  #dark {
    opacity: 1;
  }
  #light > #lightEllipse,
  #dark > #vectorTwo {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 540px) {
  .new {
    margin-left: -5px;
    margin-top: -5px;
  }

  .logo {
    margin-top: -12px;
  }

  .myLogo {
    width: 55px;
  }
}
