:root {
  --dark-color: #000000;
  --light-color: #ffffff;
}

#light > #lightEllipse {
  fill: var(--light-color);
}
#light > #vectorOne {
  fill: var(--dark-color);
}

#dark > #darkEllipse {
  fill: var(--light-color);
}
#dark > #vectorTwo {
  fill: var(--dark-color);
}

#light > #lightEllipse,
#light > #vectorOne,
#dark > #darkEllipse,
#dark > #vectorTwo {
  transition: all 0.5s ease;
}

#light > #lightEllipse,
#light > #vectorOne {
  transform: translateX(-100%);
}

svg:hover #light > #lightEllipse,
#light > #vectorOne {
  transform: translateX(0%);
}
svg:hover #dark > #darkEllipse,
#dark > #vectorTwo {
  transform: translateX(40%);
  opacity: 0;
}

#repo {
  width: 140px;
}

#repoTitle {
  margin: -10px;
  background-color: #4484ce;
  border-radius: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 100px;
  width: 150px;
  border-radius: 5px;
}

.new {
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-top: 10px;
}

.myLogo {
  width: 100px;
}

@media screen and (max-width: 820px) {
  #dark {
    opacity: 0;
  }
  #light > #lightEllipse,
  #light > #vectorOne {
    transform: translateX(0%);
  }
}
