@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&family=Questrial&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --extra-light: #8ecae6;
  --light: #ffb703;
  --medium: #219ebc;
  --dark: #4484ce;
  --darker: #023047;
  --font-fam-1: "Bitter", serif;
  --font-fam-2: "Questrial", sans-serif;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 54vh;
}

.dark {
  background-color: black;
}
