@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&family=Questrial&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --extra-light: #d9d9d9;
  --light: #f9cf00;
  --medium: #f19f4d;
  --dark: #4484ce;
  --darker: #4484ce;
  --font-fam-1: "Bitter", serif;
  --font-fam-2: "Questrial", sans-serif;
}
