@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&family=Questrial&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --extra-light: #eee3cb;
  --light: #d7c0ae;
  --medium: #b7c4cf;
  --dark: #967e76;
  --darker: #65647c;
  --font-fam-1: "Bitter", serif;
  --font-fam-2: "Questrial", sans-serif;
}
